.masthead {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This ensures the masthead takes the full height of the viewport */
    background-image: url('../images/background.jpg'); /* Replace 'your-image-url.jpg' with the actual URL of your image */
    background-size: cover;
    background-position: center;
    color: #212529; /* Set the text color */
  }
  
  .masthead-content {
    text-align: center;
  }
  
  .masthead-subheading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .masthead-heading {
    font-size: 48px;
    margin-bottom: 30px;
  }
  
  .btn-primary, .button-55 {
    color: #212529; /* Set the text color for the button */
    background-color: #d99274ad; /* Set the background color for the button */
    border-color: #d99274ad; /* Set the border color for the button */
  }
  
  .btn-primary:hover, .button-55:hover {
    background-color: #d99374; /* Set the hover background color for the button */
  }

  /* anime word font  */
  .anime-font{
    font-family: 'Caveat', cursive, 'Pixelify Sans', sans-serif, 'Poppins', sans-serif, 'Roboto', sans-serif;
  }

/*button CSS */


/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
    
    .button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    }
    
    .button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
    }



    /* footer style color  */
    footer{
background-color: #212529;}

/* Change the text selection color */
::selection {
  background-color: #d99274ad; /* Set your desired background color */
  color: white; /* Set your desired text color */
}

/* Change the text selection color for older versions of Firefox */
::-moz-selection {
  background-color: #d99274ad;
  color: white;
}
